html{
    scroll-behavior:smooth;
}






body{
    background-color: rgb(0,0,33);
}





*{
    color:white;
     box-sizing: border-box;

}




   
header{
    background-color: #111;
    padding: 20px 0;
    text-align: center;
    border-bottom: 2px solid #444;
}




nav{
    background-color: #444;
    padding:22px;
    height:  70px;
    text-align: center;
    border-radius:10px;
}





footer p{
   display:inline;
   padding-left:10px;
}





h1 {
    font-size:3em;
    background-color: rgb(0,0,90);
    padding: 10px 20px;
    border-radius: 20px;
    display: inline-block;  
    font-family: Arial, sans-serif;
   
}




#projects a, #contact a{
    text-decoration:none;
}









#contact a:hover{
    color: #007acc;
}





nav a{

    text-decoration: none;
    font-size:1.3em;
    border-radius:15px;
    padding:6px;  
    
}





nav a:hover{
    background-color:#0096FF;
    
    
}




.sections{
    border:1px solid white;
border-radius: 10px ;
padding:30px;
margin-top:30px;
background-color: rgb(0,0,50);

}




#contact{
    margin-bottom: 15px;
}
